.video {
  margin: 5px 0;
  padding: 10px;
  display: grid;
  grid-template-columns: 1.3fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  transform: scale(1);
  cursor: pointer;
  border-radius: 5px;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.video:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.video img {
  width: 100%;
  min-width: 100px;
  grid-column: 1 /2;
  grid-row: 1/-1;
  align-self: center;
}

.title {
  width: 80%;
  align-self: flex-end;
  font-weight: 500;
}

.channelTitle {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}
